@font-face {
  font-family: 'iconfont';  /* project id 1950436 */
  src: url('//at.alicdn.com/t/font_1950436_f6wma8hwm4u.eot');
  src: url('//at.alicdn.com/t/font_1950436_f6wma8hwm4u.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1950436_f6wma8hwm4u.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1950436_f6wma8hwm4u.woff') format('woff'),
  url('//at.alicdn.com/t/font_1950436_f6wma8hwm4u.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1950436_f6wma8hwm4u.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}